*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100% ;
    background-image: url("1.jpg");
    background: linear-gradient;
    
    background-position: center;
    background-size: cover;
    height: 109vh;
}

